.vscode/

Temp/
Logs/
Library/
obj/
.build/
*.csproj
*.sln

*.dll
*.so
*.aar

bazel-*

Assets/Mediapipe/SDK/Models/*
!Assets/Mediapipe/SDK/Models/.gitkeep
Assets/Mediapipe/SDK/Plugins/Protobuf*

Assets/Mediapipe/SDK/Scripts/Protobuf/**/*.cs
