.nuget/
.vscode/
.vs/
.DS_Store
.python-version

/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
/[Cc]ode[Cc]overage/
*.csproj
*.sln
*.unitypackage

*.aar
*.bc
*.dll
*.dylib
*.so
**/*.framework/*
!**/*.framework/*.meta

bazel-*

Assets/StreamingAssets*

Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/*
!Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/*.meta
Packages/com.github.homuler.mediapipe/PackageResources/MediaPipe/object_detection_3d.bytes.meta
Packages/com.github.homuler.mediapipe/Runtime/Plugins/Protobuf/*.dll
Packages/com.github.homuler.mediapipe/Runtime/Scripts/Protobuf/**/*.cs
