.vscode/

Temp/
Logs/
Library/
obj/
.build/
*.csproj
*.sln

*.dll
*.so
*.aar

bazel-*

Assets/StreamingAssets*
Assets/MediaPipe/SDK/Models/*
!Assets/MediaPipe/SDK/Models/*.meta
Assets/MediaPipe/SDK/Plugins/Protobuf*
Assets/MediaPipe/SDK/Scripts/Protobuf/**/*.cs
