<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Google.Protobuf" version="3.19.1" targetFramework="netstandard20" />
  <package id="System.Buffers" version="4.4.0" targetFramework="netstandard20" />
  <package id="System.Memory" version="4.5.3" targetFramework="netstandard20" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="netstandard20" />
  <!-- Analyzers -->
  <package id="Microsoft.Unity.Analyzers" version="1.11.1" />
  <package id="ErrorProne.NET.CoreAnalyzers" version="0.4.0-beta.1" />
  <package id="ErrorProne.NET.Structs" version="0.4.0-beta.1" />
</packages>
